body{
    margin:0;
    padding:0;
}

main{
    padding:16px;
}

footer{
    padding-top:24px;
    padding-left:0;
    padding-right:0;
}

img{
    height:200px
}

nav{
    color:black;
    border-bottom:1px;
    padding:16px;
}
    